@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-black: #161311;
  --brand-red: #b3231c;
  --brand-cream: #f4ede2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
